body {
  color: #2d2d2d;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
/*   font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', sans-serif; */
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
}

.global_container {
  background: #ffffff center 0;
  background-position: center top;
  background-size: cover;
  float: none;
  height: auto;
  margin: 0 auto;
  position: relative;
  width: 100%;
  z-index: 0;
}

/* header style */
#header,
#introduction,
#footer {
    display: inline;
}
#sp-header,
#sp-introduction,
#sp-footer {
	display: none;
}
.header {
  background: #f4f4f4;
  min-height: 87px;
  overflow: hidden;
  padding: 0 0 0 1.583333%;
  position: relative;
  z-index: 130;
}
.header > img {
  float: left;
  margin: 27px 0 0;
  max-width: 205px;
  width: 17.358171%;
}
.header > p {
  float: right;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
  margin-left: 0;
}
.menu {
  float: right;
  width: 7%;
  margin-right: 3%;
}
.menu > p {
  text-align: center;
  margin-top: 37px;
  margin-bottom: 36px;
  font-size: 14px;
  font-weight: 500;
}
.menu-on {
  background: #ffffff;
}
.menu-5 {
  background: #f00f35;
  color: #ffffff;
  float: right;
  font-size: 18px;
  font-weight: bold;
  line-height: 87px;
  min-height: 87px;
  padding: 0 0 0 0.666667%;
  text-align: center;
  width: 16.172735%;
}

.menu-4 {
  float: right;
  margin-left: 0;
  margin-right: 1.69348%;
  margin-top: 27px;
  margin-bottom: 0;
  position: relative;
  width: 13.886537%;
}
.menu-4 > p,
.footer-menu-5 > p {
  letter-spacing: 0.1em;
  margin-bottom: 0;
  margin-left: 24.390244%;
  margin-right: 0;
}
.menu-4 img,
.footer-menu-5 img {
  float: left;
  margin: 2px 1.829268% 0 0;
  width: 16px;
}
.menu-4 > p.small,
.footer-menu-5 > p.small {
  font-weight: 500;
  margin-top: 3px;
}
.menu-4 div > p,
.footer-menu-5 div > p {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.1em;
}


/* main image */
.main {
  margin: -2px 0 0;
  position: relative;
  width: 99.666664%;
  z-index: 125;
}
.main div {
  background: url(../images/image_27_pc.png) no-repeat center 0;
  background-position: center top;
  background-size: cover;
  color: #413f3f;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.07em;
  line-height: 60px;
  min-height: 400px;
  padding: 111px 16.638796% 109px 51.17057%;
  width: 33%;
}
.main div > span {
  letter-spacing: 0.1em;
}

/* footer style */
.footer {
  background: #f4f4f4;
  margin: 49px 0 0;
  min-height: 195px;
  padding: 36px 1.583333%;
  position: relative;
  z-index: 3;
}
.footer-menu {
  position: relative;
}
.footer-menu > img {
  float: left;
  max-width: 170px;
  width: 14.64255%;
}
.footer-menu > p {
  float: right;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
  margin-left: 0;
}
 .footer-menu > p > span {
  font-family: YuGo, serif;
  font-weight: 500;
}
.footer-menu div {
  position: relative;
}
.footer-menu-5 {
  float: left;
  margin-left: 2.239449%;
  margin-right: 0;
  margin-top: 4px;
  margin-bottom: 0;
  position: relative;
  width: 14.125753%;
}
.footer-menu-5 div.normal {
  overflow: hidden;
}
.footer-menu-4 {
  margin-right: 0;
  margin-top: 6px;
}
.footer-menu-3 {
  margin-right: 3.531438%;
  margin-top: 6px;
}
.footer-menu-2 {
  margin-right: 3.273041%;
  margin-top: 7px;
}
.footer-menu-1 {
  margin-right: 3.186908%;
  margin-top: 7px;
}
.footer-parts-1 {
  background-color: rgba(0, 0, 0, 0.2);
  height: 1px;
  margin: 8px auto 0;
  width: 99.82788%;
}
.footer-parts-2 {
  left: 39.02754%;
  margin: 35px auto 0;
  position: relative;
  width: 21.772806%;
}
.footer-parts-2 > p {
  font-weight: 500;
  margin-bottom: 0;
  margin-left: 0;
}
.footer-text-1 {
  float: left;
  font-size: 14px;
  margin-right: 0;
  margin-top: 2px;
}
.footer-text-2 {
  float: right;
  font-size: 10px;
  letter-spacing: 0.05em;
  margin-right: 1.581028%;
  margin-top: 0;
}

/* Introduced companies */
.introduction {
  margin: 93px auto 0;
  position: relative;
  width: 79%;
  z-index: 19;
}
.introduction > div {
  margin: 0 auto;
  position: relative;
  width: 25.843882%;
}
.introduction > div div {
  background: #f02748;
  display: block;
  height: 7px;
  left: 1.428571%;
  margin: 15px auto 0;
  position: relative;
  width: 28.571428%;
}
.introduction img {
  display: block;
  margin: 49px auto 0;
  max-width: 948px;
  width: 100%;
}
.introduction p {
  color: #413f3f;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
}

/* Document Download */
.document {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background: #ffffff;
  background-clip: padding-box;
  border: 1px solid #b1afaf;
  float: left;
  margin: 0 1.6% 0 0;
  min-height: 302px;
  padding: 10px 0.935551%;
  width: 30%;
}
.document:last-child {
  margin-right: 0 !important;
}
.document p {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  margin: 8px 0 0;
}
.document > div {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.doc-image {
  background-color: #f4f4f4;
  height: 187px;
  margin-top: 0;
  width: 98.59155%;
}
.doc-button {
  background: url(../images/btn.png) no-repeat center 0;
  background-size: 100% 23px;
  color: #ffffff;
  display: table;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  min-height: 23px;
  padding: 4px 5.298013% 3px;
  text-align: center;
}

.airticle-3 {
  background: #f4f4f4;
  float: left;
  margin: 0 16.13% 0 0;
  position: relative;
  width: 21.25%;
  min-height: 272px;
  padding: 10px 0.5%;
}
.airticle-3:last-child {
  margin-right: 0 !important;
}
.airticle-3 img {
  display: block;
  margin: 0 auto;
  max-width: 280px;
  width: 99.29078%;
}
.airticle-3 p {
  font-weight: 500;
  line-height: 22px;
  margin: 14px 0 0;
}
.airticle-3-btn {
  background: url(../images/btn_5.png) no-repeat center 0;
  background-size: 100% 52px;
  font-family: YuGo, serif;
  font-size: 21.61863px;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 299px;
  min-height: 52px;
  padding: 14px 0 15px 2.604167%;
  text-align: center;
  width: 31.145834%;
}


/* free conslution */
.consultation {
  background: #f00f35;
  margin: 51px auto 0;
  min-height: 302px;
  padding: 42px 0 38px;
  position: relative;
  width: 80.083336%;
}
.consultation > div {
  margin: 23px auto 0;
  position: relative;
  width: 31.009365%;
}
.consultation > p {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 36px;
  text-align: center;
}
.consultation img {
  float: left;
  margin: 1px 4.240283% 0 0;
  width: 31px;
}
.btn-holder {
  background: url(../images/btn_4.png) no-repeat center 0;
  background-size: 100% 50px;
  font-size: 20px;
  font-weight: bold;
  max-width: 297px;
  min-height: 50px;
  padding: 15px 0 13px;
  text-align: center;
  width: 99.66443%;
}
.parts10 {
  left: 2.516778%;
  margin: 25px auto 0;
  position: relative;
  width: 94.966446%;
}
.parts10 div {
  float: left;
  position: relative;
  width: 84.80566%;
}
.parts10 div > p {
  color: #f4f4f4;
  letter-spacing: 0.1em;
}


/* top contents */
.row {
  margin-top: 97px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  z-index: 86;
}

.x-title {
  width: 36%;
  margin: 0 auto;
  position: relative;
  z-index: 118;
}
.x-title p {
  color: #413f3f;
  font-size: 30.64388px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
}

.x-content {
  width: 80%;
  height: 530px;
  margin-top: 74px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
/*   left: 4.083333%; */
  overflow: hidden;
  z-index: 108;
}
.y-content {
  margin: -9px 0 0 2.916667%;
  overflow: hidden;
  position: relative;
  width: 86.583336%;
  z-index: 97;
}
.y-content > div {
  float: left;
  margin-bottom: 0;
  margin-left: 0;
  position: relative;
}
.z-content {
  height: 529px;
  left: 4.791667%;
  margin: -26px auto 0;
  position: relative;
  width: 85.416664%;
  z-index: 86;
}
.z-content > div {
  position: absolute;
}
.col-md-1 {
  background: url(../images/27.png) no-repeat center 0;
  background-size: 100% 529px;
  left: 22.168583%;
  padding: 67px 0 88px;
  top: 0;
  width: 80%;
  position: absolute;
}
.col-md-1 > div {
  background: url(../images/16.png) no-repeat center 0;
  background-size: 100% 374px;
  margin: 0 auto;
  padding: 26px 0.487805% 334px;
  position: relative;
  width: 72.92683%;
}
.col-md-1 > div div {
  background-color: #ffffff;
  display: block;
  height: 14px;
  left: 43.559322%;
  margin: 0 auto;
  position: relative;
  width: 12.881356%;
}

.col-md-2 {
  left: 0;
  position: absolute;
  top: 77px;
  width: 26.915709%;
}
.col-md-2 > p {
  font-weight: bold;
  text-align: center;
}
.col-md-3 {
  background: url(../images/image_20.png) no-repeat center 0;
  background-size: 100% 529px;
  margin-right: -3.079885%;
  margin-top: 0;
  padding: 67px 0 109px;
  width: 78.92204%;
}
.col-md-3 > div {
  background: url(../images/20.png) no-repeat center 0;
  background-size: 100% 353px;
  margin: 0 auto;
  padding: 5px 0.365854% 334px;
  position: relative;
  width: 72.92683%;
}
.col-md-3 > div div {
  background-color: #ffffff;
  display: block;
  height: 14px;
  left: 43.49662%;
  margin: 0 auto;
  position: relative;
  width: 13.006757%;
}
.col-md-4 {
  margin-right: 0;
  margin-top: 77px;
  width: 24.157845%;
}
.col-md-4 > p {
  font-weight: bold;
  text-align: center;
}
.col-md-5 {
  background: url(../images/27.png) no-repeat center 0;
  background-size: 100% 529px;
  left: 20%;
  padding: 67px 0 88px;
  top: 0;
  width: 80%;
}
.col-md-5 > div {
  background: url(../images/23.png) no-repeat center 0;
  background-size: 100% 374px;
  margin: 0 auto;
  padding: 26px 0.487805% 334px;
  position: relative;
  width: 72.92683%;
}
.col-md-5 > div div {
  background-color: #ffffff;
  display: block;
  height: 14px;
  left: 43.559322%;
  margin: 0 auto;
  position: relative;
  width: 12.881356%;
}
.col-md-6 {
  left: 0;
  top: 99px;
  width: 24.292683%;
}
.col-md-6 > p {
  font-weight: bold;
  text-align: center;
}
.control-label-1 {
  color: #0681e1;
  font-size: 30px;
  line-height: 40px;
}
.control-label-2 {
  color: #413f3f;
  font-size: 16px;
  line-height: 24px;
  margin: 24px 0 0;
}

/* main contents */
.form-group {
  position: relative;
  width: 45%;
}
.form-group img {
  display: block;
  margin: 0 auto;
  max-width: 450px;
  width: 100%;
}
.form-group p {
  font-weight: 500;
  margin: 14px 0 0;
  width: 99.55556%;
}
.form-group p > strong {
  font-size: 14px;
  font-weight: bold;
}
.form-group span {
  line-height: 24px;
}

.form-label-left {
  float: left;
}
.form-label-right {
  float: right;
}

/* contents */
.h2 {
  margin: 66px auto 0;
  position: relative;
  width: 11.75%;
}
.h2 div {
  background: #f02748;
  height: 7px;
  margin: 16px auto 0;
  width: 49.64539%;
}
.h2 p {
  color: #413f3f;
  font-size: 30.64388px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
}
.title-2 {
  margin: 98px auto 0;
  position: relative;
  width: 80.166664%;
}
/* .title-2 > div {
  margin: 19px 0 0;
  position: relative;
}
.title-2 > div > div {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background: #ffffff;
  background-clip: padding-box;
  border: 1px solid #b1afaf;
  float: left;
  margin: 0 2.910603% 0 0;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  width: 31.392931%;
}
.title-2 > div > div:last-child {
  margin-right: 0 !important;
} */
.title-2 > p {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-align: center;
}

/* introduction contents */
.introduction-title {
  width: 50%;
  text-align: center;
}
.introduction-title > span {
  line-height: 36px;
  font-size: 24px;
  font-weight: bold;
}
.introduction-title .small {
  color: #aaa6a6;
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
}
.x-panel {
  background: #f4f4f4;
  margin: 30px auto 0;
  min-height: 150px;
  position: relative;
  width: 80%;
}
.x-panel img {
  float: left;
  width: 21px;
}
.x-panel .col-sm-1 {
  float: left;
  font-size: 24px;
  font-weight: 500;
  line-height: 150px;
  vertical-align: middle;
  position: relative;
  margin: 0 4%;
}
.x-panel .col-sm-2 {
  float: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 2.5%;
  margin-top: 42px;
  width: 60.208332%;
}
.x-panel .col-sm-1.red {
  color: #f00f35;
}
.x-panel .col-sm-1.blue {
  color: #0077df;
}
.article {
  width: 80%;
  height: 530px;
  margin-top: 74px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
/*   left: 4.083333%; */
  overflow: hidden;
  z-index: 108;
}
.article > img {
  display: block;
  margin: 27px auto 0;
  max-width: 640px;
  width: 66.458984%;
}
.entry-title {
  font-size: 24px;
  font-weight: 500;
}
.entry-content {
  line-height: 24px;
  margin: 24px auto 0;
  width: 99.58463%;
}
.entry-content > p {
    font-size: 14px;
}

/* text style */
.text-style-1 {
  font-size: 38.30485px;
}
.text-style-2 {
  font-size: 30.64388px;
  letter-spacing: 0.1em;
}
.text-style-3 {
  font-size: 30.64388px;
  letter-spacing: 0.2em;
}
.text-style-4 {
  letter-spacing: 0.1em;
}
.text-style-5 {
  line-height: 24px;
}
.text-style-6 {
  line-height: 36px;
}
.text-style-7 {
  font-size: 30.64388px;
}
.text-style-8 {
  position: relative;
  top: -4.69914px;
}
.text-style-10 {
  font-size: 14px;
  letter-spacing: 0;
}
.text-style-11 {
  position: relative;
  top: -2px;
}
.text-style-12 {
  font-size: 30.22344px;
  font-weight: bold;
}

.text-style-13 {
  font-size: 18px;
  font-weight: 500;
  margin: 1px 0 0;
  text-align: center;
}

/* border line */
.border {
  background: #f4f4f4;
  height: 17px;
  margin: 64px auto 0;
  position: relative;
  z-index: 121;
}
.contens-border {
  display: block;
  margin: 52px auto 0;
/*   max-width: 960px; */
  width: 80%;
}
.title-border {
  background: #f02748;
  width: 16.203703%;
  height: 7px;
  margin: 14px auto 0;
}

/* breadcrumbs list */
.breadcrumbs {
  color: #afacac;
  font-weight: 500;
/*   margin: 18px 0 0 13.427856%; */
  width: 80%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}


/* ***************************************
 * SP Style
 *****************************************/
@media screen and (max-width: 499px) {
	/*　画面サイズ 499pxまで適用　*/
	#header,
	#pc-main,
	#introduction,
	#footer {
	   display: none;
	}
	#sp-header,
	#sp-main,
	#sp-introduction,
	#sp-footer {
	   display: inline;
	}
	.header {
	  padding: 0 0 0 0;
	}
	.header > img {
	  width: 50%;
	  margin: 4% 8% 0 1%;
	  max-width: 30%;
	}
    #menu-sp-2 {
        clear: both;
        width: 100%;
        margin-top: 13%;
    }
	.menu {
	  float: left;
	  width: 23%;
	  margin-right: 1%;
	  background-color: #ffffff;
	}
	.menu > p {
	  text-align: center;
	  margin-top: 20px;
	  margin-bottom: 20px;
	  font-size: 10px;
	  font-weight: 500;
	}
	.menu-on {
	  background: #ffffff;
	}

	#menu-sp-1 {
      float: left;
	  margin-left: 30.69348%;
	  margin-right: 0;
	  margin-top: 12px;
	  margin-bottom: 0;
	  position: relative;
 	  width: 30%;
	}
	#menu-sp-1 > p {
	  letter-spacing: 0.1em;
	  margin-bottom: 0;
	  margin-left: 24.390244%;
	  margin-right: 0;
	}
	#menu-sp-1 img {
	  float: left;
	  margin: 2px 1.829268% 0 0;
	  width: 10px;
	}
	#menu-sp-1 > p.small {
	  font-size: 10px;
	  font-weight: 500;
	  margin-top: 3px;
	  margin-left: 18.390244%;
	}
	#menu-sp-1 div > p {
	  font-size: 12px;
	  font-weight: 500;
	  letter-spacing: 0.1em;
	}

    .menu-5 {
      background: #f00f35;
      color: #ffffff;
      float: left;
      font-size: 10px;
      font-weight: bold;
      line-height: 10px;
      min-height: 52px;
      padding: 0 0 0 0;
      text-align: center;
      width: 28%;
    }
    .menu-5 > p {
      margin-top: 20px;
      margin-bottom: 20px;
    }
	.main div {
	  background: url(../images/image_27_sp.png) no-repeat center 0;
	  background-size: contain;
	}

	/* top contents */
	.row {
	  margin-top: 10%;
	}
	.x-title {
	  width: 84%;
	}
	.x-title p {
	  color: #413f3f;
	  font-size: 16.64388px;
	  font-weight: bold;
	  letter-spacing: 0.1em;
	  text-align: center;
	}

    .x-content,
    .y-content,
    .z-content {
      margin-top: 20px;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      height: 360px;
      left: 0;
    }

/* 	.col-md-1 {
	  background: url(../images/image_20.png) no-repeat center 0;
	  background-size: contain;
	  left: 0;
	  position: absolute;
	  top: 130px;
	  width: 100%;
	}
	.col-md-1 div {
	  background: url(../images/16.png) no-repeat center 0;
	  background-size: contain;
	  padding: 24px 0;
	  position: relative;
	  width: 100%;
	} */

	.col-md-2 {
	  left: 0;
	  position: absolute;
	  top: 0;
	  width: 100%;
	}
	.col-md-2 > p {
	  font-weight: bold;
	  text-align: center;
	}

	.control-label-1 {
	  color: #0681e1;
	  font-size: 21px;
	  line-height: 40px;
	}
	.control-label-2 {
	  color: #413f3f;
	  font-size: 12px;
	  line-height: 24px;
	  margin: 5px 30px 30px;
	}

	.y-content > div,
	.z-content > div{
		position: absolute;
	}
	.col-md-4 {
	    margin-right: 0;
	    margin-top: 0;
	    width: 100%;
	}
    .col-md-3 {
	    background-size: contain;
	    padding: 0;
	    width: 100%;
	    top: 130px;
    }
    .col-md-3 > div {
	    background-size: contain;
	    margin: 25px auto;
	    position: relative;
	    width: 72.92683%;
	}

    .col-md-1,
	.col-md-5 {
	    background-size: contain;
	    left: 0;
	    padding: 0;
	    top: 130px;
	    width: 100%;
	}
	.col-md-1 > div,
	.col-md-5 > div {
	    background-size: contain;
	    margin: 25px auto;
	    padding: 26px 0.487805% 334px;
	    position: relative;
	    width: 71.92683%;
    }

    .sp-content {
        height: 100%;
    }
    .form-group {
        margin-top: 5%;
        width: 100%;
    }
    .form-label-left,
    .form-label-right {
        clear: both;
    }

    .document {
        clear: both;
        width: 97%;
        margin-top: 5%;
    }

    .introduction > div {
        width: 84%;
    }

	.footer {
	    background: #f4f4f4;
	    margin: 0;
	    min-height: 0;
	    padding: 36px 1.583333%;
	    position: relative;
	    z-index: 3;
	}
	.footer-menu > img {
	    float: left;
	    max-width: 170px;
	    width: 100%;
	    margin: 5% 26%;
	}
	.footer-parts-2 {
	    left: 0;
	    margin: 0 30%;
	    position: relative;
	    width: 43%;
	}

	/* text style */
	.text-style-1 {
	  font-size: 28.30485px;
	}
	.text-style-2 {
	  font-size: 20.64388px;
	  letter-spacing: 0.1em;
	}
	.text-style-3 {
	  font-size: 20.64388px;
	  letter-spacing: 0.2em;
	}
	.text-style-4 {
	  letter-spacing: 0.1em;
	}


}
/*# sourceMappingURL=style.css.map */
