<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>LIBzCAREER | 個別無料相談受付中</title>
</head>
<body>
  <div class="consultation">
    <p>その他多数のご活用事例など<br>個別無料相談受付中</p>
    <div>
      <div class="btn-holder">
        女性活躍力診断はコチラ &gt;&gt;
      </div>
      <div class="parts10 group">
        <img src="images/tel_2.png" alt="">
        <div>
          <p class="text-style-12">03-0000-0000</p>
          <p class="text-style-13">(10:00-18:00）</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>