<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>LIBzCAREER | お役立ち資料がダウンロードできます</title>
</head>
<body>
  <div class="download">
    <div class="title-2">
      <p>お役立ち資料がダウンロードできます</p>
    </div>
    <div class="x-content sp-content">
      <div class="document">
        <div class="doc-image"></div>
        <p>テキストテキストテキスト<br>テキストテキスト</p>
        <div class="doc-button">
          ダウンロード
        </div>
      </div>
      <div class="document">
        <div class="doc-image"></div>
        <p>テキストテキストテキスト<br>テキストテキスト</p>
        <div class="doc-button">
          ダウンロード
        </div>
      </div>
      <div class="document">
        <div class="doc-image"></div>
        <p>テキストテキストテキスト<br>テキストテキスト</p>
        <div class="doc-button">
          ダウンロード
        </div>
      </div>
    </div>
  </div>
</body>
</html>