<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>LIBzCAREER | お役立ち資料がダウンロードできます</title>
</head>
<body>
  <div class="download">
      <div class="row">
        <div class="x-title">
          <p>お役立ち資料がダウンロードできます</p>
          <div class="title-border"></div>
        </div>
        <div class="x-content">
          <div class="document">
            <div class="doc-image"></div>
            <p>テキストテキストテキスト<br>テキストテキスト</p>
            <div class="doc-button">
              ダウンロード
            </div>
          </div>
          <div class="document">
            <div class="doc-image"></div>
            <p>テキストテキストテキスト<br>テキストテキスト</p>
            <div class="doc-button">
              ダウンロード
            </div>
          </div>
          <div class="document">
            <div class="doc-image"></div>
            <p>テキストテキストテキスト<br>テキストテキスト</p>
            <div class="doc-button">
              ダウンロード
            </div>
          </div>
        </div>
        <div class="border"></div>
      </div>
  </div>
</body>
</html>