<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>LIBzCAREER | 共通フッター</title>
</head>
<body>
  <div class="footer">
    <div class="footer-menu group">
      <img src="images/logo.png" alt="">
      <div class="footer-menu-5">
        <div class="normal group">
          <img src="images/tel.png" alt="" width="100%">
          <p>03-0000-0000</p>
        </div>
        <p class="small">(10:00-18:00）</p>
      </div>
      <p class="footer-menu-4">採用力診断する</p>
      <p class="footer-menu-3">お問い合わせ</p>
      <p class="footer-menu-2">資料請求</p>
      <p class="footer-menu-1">導入事例</p>
    </div>
    <div class="footer-parts-1"></div>
    <div class="footer-parts-2 group">
      <p class="footer-text-1">会社概要</p>
      <p class="footer-text-2"><span class="text-style-10">©</span><span class="text-style-11">LiB,inc All Rights Reserved.</span></p>
    </div>
  </div>
</body>
</html>