<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>LIBzCAREER | 共通ヘッダー</title>
</head>
<body>

  <div class="header group">
    <img src="images/logo_2.png" alt="" width="100%">
    <div class="parts02">
      採用力診断する
    </div>
    <div class="menu-4">
      <div class="group">
        <img src="images/tel.png" alt="" width="100%">
        <p>03-0000-0000</p>
      </div>
      <p class="small">(10:00-18:00）</p>
    </div>
    <p class="menu-3">お問い合わせ</p>
    <p class="menu-2">資料請求</p>
    <p class="menu-1">導入事例</p>
  </div>
</body>
</html>