<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>LIBzCAREER | 共通ヘッダー</title>
</head>
<body>

  <div class="header group">
    <img src="images/logo_2.png" alt="" width="100%">
    <div class="menu-5">
      採用力診断する
    </div>
    <div class="menu-4">
      <div class="group">
        <img src="images/tel.png" alt="" width="100%">
        <p>03-0000-0000</p>
      </div>
      <p class="small">(10:00-18:00）</p>
    </div>
    <div id="menu-3" class="menu">
        <p>お問い合わせ</p>
    </div>
    <div id="menu-2" class="menu">
        <p>資料請求</p>
    </div>
    <div id="menu-1" class="menu">
        <p>導入事例</p>
    </div>
  </div>

</body>
</html>