<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>LIBzCAREER | 関連記事</title>
</head>
<body>
<div class="related-article">
  <div class="row">
    <div class="title-2">
      <p>関連記事</p>
    </div>
    <div class="x-content">
      <div class=airticle-3>
        <img src="images/11_3.jpg" alt="">
        <p>テキストテキストテキスト<br>テキストテキスト</p>
      </div>
      <div class="airticle-3">
        <img src="images/9_2.jpg" alt="">
        <p>テキストテキストテキスト<br>テキストテキスト</p>
      </div>
      <div class="airticle-3">
        <img src="images/10.png" alt="">
        <p>テキストテキストテキスト<br>テキストテキスト</p>
      </div>
    </div>
    <div class="airticle-3-btn">
      事例一覧を見る<span>　&gt;&gt;</span>
    </div>
  </div>
</div>
</body>
</html>